<!DOCTYPE html>
<html>
  <head>
    <title>Hello World! - <%= pageTitle %> </title>
  </head>
  <body>
    <h1>Hello World!</h1>
    We are using Node.js <span id="node-version"></span>,

  </body>
</html>